streamlit==1.42.2
pandas
numpy==1.26.4
matplotlib
seaborn
scikit-learn==1.6.1
nltk
gensim==4.3.3
pyLDAvis
wordcloud
torch
transformers==4.49.0
huggingface-hub
altair
requests
gdown==5.2.0
